body {
    margin: 0;
    padding: 0;
}

.boutton {
    margin-top: 20px;
}

.background {
    background-color:#414246
}

.elements {
    background-color: #181818
}

.text-active {
    color: #F9FBFC
}

.text-inactive {
    color: #827E86,
}