<!DOCTYPE html>
<html>
  <head>
    <title>Closed Orders</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <!-- NavBar -->
    <nav class="bg-gray-800">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <a href="{{ url_for('index') }}" class="text-white text-xl font-bold">TradingBot</a>
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <a href="{{ url_for('dashboard') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Dashboard</a>
                <a href="{{ url_for('bot') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Stratégie</a>
                <a href="{{ url_for('set_backtest') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Backtest</a>
                <a href="{{ url_for('profil') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Mon profil</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
<div class="mx-64 mt-12">
  <!-- portfolio.html -->
  <h1 class="text-2xl font-bold mb-4">Portfolio actuel</h1>
  <div class="flex">
    <div class="w-70">
      <!-- Table -->
<table class="w-full whitespace-nowrap rounded-lg divide-y divide-gray-300 overflow-hidden mb-12">
  <thead class="bg-gray-50">
    <tr class="text-gray-600 text-left">
      <th class="font-semibold text-sm uppercase px-6 py-4">#</th>
      <th class="font-semibold text-sm uppercase px-6 py-4">Symbol</th>
      <th class="font-semibold text-sm uppercase px-6 py-4">Qty</th>
      <th class="font-semibold text-sm uppercase px-6 py-4">Market Value</th>
      <th class="font-semibold text-sm uppercase px-6 py-4">Avg Entry Price</th>
      <th class="font-semibold text-sm uppercase px-6 py-4">Unrealized P/L</th>
      <th class="font-semibold text-sm uppercase px-6 py-4">Unrealized P/L %</th>
      <th class="font-semibold text-sm uppercase px-6 py-4">Current Price</th>
      <th class="font-semibold text-sm uppercase px-6 py-4">Lastday Price</th>
      <th class="font-semibold text-sm uppercase px-6 py-4">Change Today</th>
    </tr>
  </thead>
  <tbody class="divide-y dark:bg-gray-700">
    {% for position in positions %}
      <tr >
        <td class="px-4 py-2">{{ loop.index }}</td>
        <td class="px-4 py-2">{{ position.symbol }}</td>
        <td class="px-4 py-2">{{ position.qty }}</td>
        <td class="px-4 py-2">{{ position.market_value }}</td>
        <td class="px-4 py-2">{{ position.average_entry_price }}</td>
        <td class="px-4 py-2">{{ position.unrealized_pl }}</td>
        <td class="px-4 py-2">{{ position.unrealized_plpc }}</td>
        <td class="px-4 py-2">{{ position.current_price }}</td>
        <td class="px-4 py-2">{{ position.lastday_price }}</td>
        <td class="px-4 py-2">{{ position.change_today }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

  {% block content %}
    <h1 class="text-2xl font-bold mb-4">Liste des ordres passés</h1>

    <div class="pb-4 bg-white dark:bg-gray-900">
      <label for="table-search" class="sr-only">Search</label>
      <div class="relative mt-1">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
          </div>
          <input type="text" id="table-search" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for items">
      </div>
  </div>

  <div class="overflow-x-auto mt-4 ">
    <table class="w-full whitespace-nowrap rounded-lg divide-y divide-gray-300 overflow-hidden">
      <thead class="bg-gray-50">
        <tr class="text-gray-600 text-left">
          <th class="font-semibold text-sm uppercase px-6 py-4">Symbol</th>
          <th class="font-semibold text-sm uppercase px-6 py-4">Quantity</th>
          <th class="font-semibold text-sm uppercase px-6 py-4">Side</th>
          <th class="font-semibold text-sm uppercase px-6 py-4">Avg. Price</th>
          <th class="font-semibold text-sm uppercase px-6 py-4">Filled Qty</th>
          <th class="font-semibold text-sm uppercase px-6 py-4">Status</th>
          <th class="font-semibold text-sm uppercase px-6 py-4">Created At</th>
          <th class="font-semibold text-sm uppercase px-6 py-4">Filled At</th>
        </tr>
      </thead>
      <tbody class="divide-y dark:bg-gray-700">
        {% for order in orders %}
        <tr>
          <td class="px-6 py-4">{{ order.symbol }}</td>
          <td class="px-6 py-4">{{ order.qty }}</td>
          <td class="px-6 py-4">{{ order.side }}</td>
          <td class="px-6 py-4">{{ order.filled_avg_price }}</td>
          <td class="px-6 py-4">{{ order.filled_qty }}</td>
          <td class="px-6 py-4">{{ order.status }}</td>
          <td class="px-6 py-4">{{ order.created_at }}</td>
          <td class="px-6 py-4">{{ order.filled_at }}</td>
        </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endblock %}
    </div>
    <div class="w-30">
      <div id="pie-chart">
        {{ graph_html_portfolio|safe }}
      </div>
    </div>
  </div>
  
  

  
    
  
</div>
  </body>
</html>
