<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">    
    <title>Document</title>
</head>
<body>
    <!-- NavBar -->
    <nav class="bg-gray-800">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <a href="{{ url_for('index') }}" class="text-white text-xl font-bold">TradingBot</a>
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <a href="{{ url_for('dashboard') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Dashboard</a>
                <a href="{{ url_for('ordre') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Bot</a>
                <a href="{{ url_for('bot') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Stratégie</a>
                <a href="{{ url_for('set_backtest') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Backtest</a>
                <a href="{{ url_for('profil') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Mon profil</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <div class="container mx-auto py-20 px-6">
      <h2 class="text-4xl font-bold mb-2 text-gray-800 text-center">Profil</h2>
      <p class="text-xl mb-8 text-gray-700 text-center">Veuillez entrer vos clés API ci-dessous :</p>
      <form method="POST" action="{{ url_for('profil') }}" class="max-w-lg mx-auto">
        <div class="mb-4">
          <label for="api_key" class="block text-gray-700 font-bold mb-2">Clé API :</label>
          <input type="text" name="api_key" id="api_key" placeholder="Entrez votre clé API" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
          <label for="api_secret_key" class="block text-gray-700 font-bold mb-2">Clé API secrète :</label>
          <input type="text" name="api_secret_key" id="api_secret_key" placeholder="Entrez votre clé API secrète" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Enregistrer</button>
        </div>
      </form>
    </div>
</body>
</html>